<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.parking.mapper.BVisitorApplyMapper">
    
    <resultMap type="com.ruoyi.project.parking.domain.BVisitorApply" id="BVisitorApplyResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="parkNo"    column="park_no"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="carNo"    column="car_no"    />
        <result property="day"    column="day"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="visitReason"    column="visit_reason"    />
        <result property="status"    column="status"    />
        <result property="rejectReason"    column="reject_reason"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBVisitorApplyVo">
        select bva.id, bva.code, bva.park_no, sd.dept_name as park_name, bva.name, bva.phone, bva.car_no, bva.day,
            bva.apply_time, bva.visit_reason, bva.status, bva.reject_reason, bva.create_by, bva.create_time,
            bva.update_by, bva.update_time
        from b_visitor_apply bva
        left join sys_dept sd on sd.park_no = bva.park_no
    </sql>

    <select id="selectBVisitorApplyList" parameterType="com.ruoyi.project.parking.domain.BVisitorApply"
            resultType="com.ruoyi.project.parking.domain.vo.BVisitorApplyVO">
        <include refid="selectBVisitorApplyVo"/>
        <where>
            <if test="code != null  and code != ''"> and bva.code = #{code}</if>
            <if test="parkNo != null  and parkNo != ''"> and bva.park_no = #{parkNo}</if>
            <if test="name != null  and name != ''"> and bva.name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and bva.phone = #{phone}</if>
            <if test="carNo != null  and carNo != ''"> and bva.car_no = #{carNo}</if>
            <if test="day != null "> and bva.day = #{day}</if>
            <if test="applyTime != null "> and bva.apply_time = #{applyTime}</if>
            <if test="visitReason != null  and visitReason != ''"> and bva.visit_reason = #{visitReason}</if>
            <if test="status != null  and status != ''"> and bva.status = #{status}</if>
            <if test="rejectReason != null  and rejectReason != ''"> and bva.reject_reason = #{rejectReason}</if>
            <if test="createBy != null and createBy != ''"> and bva.create_by = #{createBy}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getBVisitorApplyList" parameterType="com.ruoyi.project.parking.domain.param.BVisitorApplyParam"
            resultType="com.ruoyi.project.parking.domain.vo.BVisitorApplyVO">
        <include refid="selectBVisitorApplyVo"/>
        <where>
            <if test="code != null  and code != ''"> and bva.code = #{code}</if>
            <if test="parkNo != null  and parkNo != ''"> and bva.park_no = #{parkNo}</if>
            <if test="name != null  and name != ''"> and bva.name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and bva.phone like concat('%', #{phone}, '%')</if>
            <if test="status != null  and status != ''"> and bva.status = #{status}</if>
        </where>
        order by bva.status, bva.create_time desc
    </select>
    
    <select id="selectBVisitorApplyById" parameterType="Integer"
            resultType="com.ruoyi.project.parking.domain.vo.BVisitorApplyVO">
        <include refid="selectBVisitorApplyVo"/>
        where bva.id = #{id}
    </select>
        
    <insert id="insertBVisitorApply" parameterType="com.ruoyi.project.parking.domain.BVisitorApply" useGeneratedKeys="true" keyProperty="id">
        insert into b_visitor_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="parkNo != null">park_no,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="carNo != null">car_no,</if>
            <if test="day != null">day,</if>
            <if test="applyTime != null">apply_time,</if>
            <if test="visitReason != null ">visit_reason,</if>
            <if test="status != null">status,</if>
            <if test="rejectReason != null">reject_reason,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="parkNo != null">#{parkNo},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="carNo != null">#{carNo},</if>
            <if test="day != null">#{day},</if>
            <if test="applyTime != null">#{applyTime},</if>
            <if test="visitReason != null ">#{visitReason},</if>
            <if test="status != null">#{status},</if>
            <if test="rejectReason != null">#{rejectReason},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBVisitorApply" parameterType="com.ruoyi.project.parking.domain.BVisitorApply">
        update b_visitor_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="parkNo != null">park_no = #{parkNo},</if>
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="carNo != null">car_no = #{carNo},</if>
            <if test="day != null">day = #{day},</if>
            <if test="applyTime != null">apply_time = #{applyTime},</if>
            <if test="visitReason != null ">visit_reason = #{visitReason},</if>
            <if test="status != null">status = #{status},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="checkStatus" resultType="int">
        select count(id) from b_visitor_apply where status = #{status} and id = #{id}
    </select>

    <update id="updateStatus">
        update b_visitor_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBVisitorApplyById" parameterType="Integer">
        delete from b_visitor_apply where id = #{id}
    </delete>

    <delete id="deleteBVisitorApplyByIds" parameterType="String">
        delete from b_visitor_apply where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>