<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czdx.parkingcharge.mapper.RegularCarCategoryMapper">

    <resultMap id="BaseResultMap" type="com.czdx.parkingcharge.domain.RegularCarCategory">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="parkNo" column="park_no" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="groupId" column="group_id" jdbcType="VARCHAR"/>
            <result property="timeLimit" column="time_limit" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="onlineFlag" column="online_flag" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,park_no,name,
        code,group_id,time_limit,
        start_time,end_time,online_flag,
        status,del_flag,remark,
        create_by,create_time,update_by,
        update_time
    </sql>
</mapper>
