package ${packageName}.domain;

    #foreach ($import in $importList)
    import ${import};
    #end
import com.ruoyi.framework.aspectj.lang.annotation.Excel;
    #if($table.crud || $table.sub)
    import com.ruoyi.framework.web.domain.BaseEntity;
    #elseif($table.tree)
    import com.ruoyi.framework.web.domain.TreeEntity;
    #end
import com.baomidou.mybatisplus.annotation.TableName;
import io.swagger.annotations.ApiModelProperty;
import com.baomidou.mybatisplus.annotation.TableId;
import io.swagger.annotations.ApiModel;
import lombok.Data;
/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
#if($table.crud || $table.sub)
    #set($Entity="BaseEntity")
#elseif($table.tree)
    #set($Entity="TreeEntity")
#end
@TableName("${tableName}")
@Data
@ApiModel(value = "${functionName}对象" , description = "")
public class ${ClassName} extends ${Entity}
        {
private static final long serialVersionUID=1L;

#foreach ($column in $columns)
    #if(!$table.isSuperColumn($column.javaField))
    /** $column.columnComment */
        #if($column.isPk=='1')
        @ApiModelProperty(value = "主键" , notes = "null")
        @TableId(value = "{$column.columnName}" , type = IdType.AUTO)
        #end
        #if($column.list)
            #set($parentheseIndex=$column.columnComment.indexOf("（"))
            #if($parentheseIndex != -1)
                #set($comment=$column.columnComment.substring(0, $parentheseIndex))
            #else
                #set($comment=$column.columnComment)
            #end

            #if($parentheseIndex != -1)
            @ApiModelProperty(value = "${comment}" , notes = "null")
            @Excel(name = "${comment}" , readConverterExp = "$column.readConverterExp()")

            #elseif($column.javaType == 'Date')
            @ApiModelProperty(value = "${comment}" , notes = "null")
            @JsonFormat(pattern = "yyyy-MM-dd")
            @Excel(name = "${comment}" , width = 30, dateFormat = "yyyy-MM-dd")
            #else
            @ApiModelProperty(value = "${comment}" , notes = "null")
            @Excel(name = "${comment}")
            #end
        #end
    private $column.javaType $column.javaField;
    #end
#end
#if($table.sub)
/** $table.subTable.functionName信息 */
private List<${subClassName}> ${subclassName}List
#end
        }
