<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.parking.mapper.BSelfPaySchemeMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.project.parking.domain.BSelfPayScheme">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="parkNo" column="park_no" jdbcType="VARCHAR"/>
            <result property="renewStatus" column="renew_status" jdbcType="VARCHAR"/>
            <result property="systemVerify" column="system_verify" jdbcType="VARCHAR"/>
            <result property="newOwnerVerify" column="new_owner_verify" jdbcType="VARCHAR"/>
            <result property="oldOwnerVerify" column="old_owner_verify" jdbcType="VARCHAR"/>
            <result property="maxRenewDays" column="max_renew_days" jdbcType="INTEGER"/>
            <result property="renewDeadlineDays" column="renew_deadline_days" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,park_no,renew_status,
        system_verify,new_owner_verify,old_owner_verify,
        max_renew_days,renew_deadline_days,create_by,
        create_time,update_by,update_time
    </sql>
</mapper>
