<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.parking.mapper.NotificationRecordMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.project.parking.domain.NotificationRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="parkNo" column="park_no" jdbcType="VARCHAR"/>
            <result property="sendTime" column="send_time" jdbcType="VARCHAR"/>
            <result property="messageId" column="message_id" jdbcType="VARCHAR"/>
            <result property="userPhone" column="user_phone" jdbcType="VARCHAR"/>
            <result property="notifyTime" column="notify_time" jdbcType="TIMESTAMP"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,park_no,send_time,
        message_id,user_phone,notify_time,
        comment,status,create_by,
        create_time,update_by,update_time
    </sql>
</mapper>
